
@import 'instantsearch.css/themes/algolia-min.css';
@import 'flowbite';
@import 'https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles */

/* Import Flowbite styles */
.search-panel {
    display: flex;
    gap: 20px;
}

.search-panel__filters {
    width: 250px;
}

.search-panel__results {
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
}