
@import 'instantsearch.css/themes/algolia-min.css';
@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles */

/* Inside your main CSS file or inline for testing */

/* Custom styling for detached search bar */
.aa-Input {
    padding-left: 2.5rem; /* Adjust as needed */
}

.aa-InputWrapperSuffix {
    right: 1rem; /* Adjust for spacing */
}

.aa-VoiceSearchButton {
    position: absolute;
    right: 1.25rem;
}
.aa-DetachedSearchButtonIcon {
    visibility: visible;
}
.aa-Autocomplete[aria-labelledby="autocomplete-1-label"] {
    visibility: hidden;
}



/* Keep visibility for other instances */
.aa-Autocomplete:not([aria-labelledby="autocomplete-1-label"]) {
    visibility: visible;
}