---
import { Schema } from 'astro-seo-schema'
import "../../styles/global.css";
import { GoogleTagmanagerPartytown, SiteVerification } from '@digi4care/astro-google-tagmanager';

const { title, description, schemaData } = Astro.props
---
<head>
	<title>{title ? title : 'Default Title'}</title>
		<meta
			name="description"
			content={description ? description : 'Default site description'}
		/>
		<meta charset="UTF-8" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/assets/favicon.ico">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">

		<SiteVerification id="EtZcuOhLAz4SNqrZtPY9nRSHvzTE_xXlc45DQDYP8QQ" />
		<GoogleTagmanagerPartytown id="G-PQRJQQNM" />

</head>