---
import { Schema } from 'astro-seo-schema'

const { title, description, schemaData } = Astro.props

---

<head>
	<title>{title ? encodeURIComponent(title) : 'Default Title'}</title>
		<meta
			name="description"
			content={description ? encodeURIComponent(description) : 'Default site description'}
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Stylesheets -->
		<link rel="stylesheet" href="../src/styles/global.css" />

		<link href="../node_modules/pagedone/src/css/pagedone.css" rel="stylesheet" />
		<link href="../node_modules/leaflet/dist/leaflet.css" rel="stylesheet" />
		<link href="../node_modules/flowbite/dist/flowbite.min.css" rel="stylesheet" />


</head>