---
import { Schema } from 'astro-seo-schema'

const { title, description, schemaData } = Astro.props

---

<head>
	<title>{title ? encodeURIComponent(title) : 'Default Title'}</title>
		<meta
			name="description"
			content={description ? encodeURIComponent(description) : 'Default site description'}
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Stylesheets -->
		<link rel="stylesheet" href="../src/styles/global.css" />

		<link href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css " rel="stylesheet" />

		<link href="leaflet/dist/leaflet.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />



		</head>