---
import KaplanLogo from '../../images/Asset3.svg';
import { Icon } from 'astro-icon/components'// Import search icon from react-icons (install if necessary)
import NavAutocomplete from '../Search/NavAutocomplete';
import React from 'react'
---

<nav class="place-items-center bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 relative">
  <!-- Alert -->
  <div class="flex items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path d="M17.133 12.632v-1.8a5.406 5.406 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.955.955 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175ZM6 6a1 1 0 0 1-.707-.293l-1-1a1 1 0 0 1 1.414-1.414l1 1A1 1 0 0 1 6 6Zm-2 4H3a1 1 0 0 1 0-2h1a1 1 0 1 1 0 2Zm14-4a1 1 0 0 1-.707-1.707l1-1a1 1 0 1 1 1.414 1.414l-1 1A1 1 0 0 1 18 6Zm3 4h-1a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"/>
    </svg>

    <span class="sr-only">Info</span>
    <div>
      <span class="font-extrabold">This site is in Beta</span>
    </div>
  </div>
  <! --->
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- Logo -->

    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src={KaplanLogo.src} class="h-20" alt="Kaplan Logo" decoding="async" loading="lazy" />
    </a>

    <!-- Nav Links -->
    <div class="hidden w-full md:flex md:w-auto items-center space-x-6" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li><a href="/search" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100">Search</a></li>
        <li><a href="/aboutthecollection" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100">About the Collection</a></li>
        <li><a href="/faq" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100">FAQ</a></li>
        <li><a href="/collections" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100">Curated Collections</a></li>
        <li><a href=" /podcast" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100">Podcast</a></li>

        <!-- Search Icon -->
        <li >
          <div class="aa-DetachedSearchButtonIcon" >

            <NavAutocomplete client:only="react" />
          </div>
        </li>
      </ul>
    </div>

</nav>