---
import BaseLayout from "../layouts/BaseLayout.astro";
import Kaplan from '../images/kaplan_logo.png'
import MeettheCollectors from '../content/Meet the Collectors.md'
import Aboutthecollection from '../content/Aboutthecollection.md'
import ProcessingtheCollection from '../content/ProcessingtheCollection.md'
import PathfromCollector from '../content/PathfromCollectortoCollection.md'
import TraditionofPhilanthropy from '../content/TraditionofPhilanthropy.md'
---

<BaseLayout title="About" />

<div class="flex">
	<!-- Mobile Sidebar Toggle -->


	<!-- Sidebar -->

	<div class="flex">
		<!-- Sidebar -->
		<aside
			id="default-sidebar"
			class="hidden sm:block md:w-64 pl-1 flex-shrink-0 sticky top-0 h-screen overflow-y-auto border-r border-gray-200"
			aria-label="Sidebar"
		>
			<div class="px-4 py-6">
				<ul class="tab-nav flex flex-col gap-6">
					<li>
						<a href="#aboutthekaplancollection"
							 class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About the Kaplan Collection
						</a>
					</li>
					<ul class="ml-4 pl-2 border-l border-gray-200">
						<li class="pb-2">
							<a href="#theearlyamericanJudaicacollection"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								The Collection of Early American Judaica
							</a>
						</li>
						<li>
							<a href="#processingthecollection"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								Processing the Collection
							</a>
						</li>
					</ul>
					<li>
						<a href="#meetthecollectors" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							Meet the Collectors
						</a>
					</li>
					<ul class="ml-4 pl-2 border-l border-gray-200">
						<li class="pb-2">
							<a href="#pathfromcollector"
								 class="hover:underline text-base font-medium leading-6 text-gray-600 hover:text-indigo-600 transition">
								Path from Collector to Collection
							</a>
						</li>
						<li>
							<a href="#traditionofphilanthropy"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								Tradition of Philanthropy
							</a>
						</li>
					</ul>
					<li>
						<a href="#aboutthewebsite" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About this Website
						</a>
					</li>
					<ul class="ml-4 pl-2 border-l border-gray-200">

						<li class="pb-2">

							<a href="#faq"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								FAQs
							</a>
						</li>
					</ul>
					<li>
						<a href="#judaicadh" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About Judaica DH
						</a>
					</li>

				</ul>
			</div>
		</aside>

		<!-- Main Content -->
		<div class="flex-1 overflow-y-auto">
			<div class="max-w-7xl mx-auto pt-6 px-4 sm:px-6 lg:px-12">
				<!-- About Section -->
				<section id="aboutthekaplancollection" class="grid lg:grid-cols-2 gap-8 h-full pb-20 border-b-2">
					<div>
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-4">About the Kaplan Collection</h2>
						<p class="text-gray-500 text-base leading-relaxed mb-6">
							The Penn Libraries holds the Arnold and Deanne Kaplan Collection of Early American Judaica, a
							collection of 13,000+ items (and counting), valued in excess of $12 million. It is the most
							important private collection of its kind, documenting the social and economic development of
							early Jewish life in the Western Hemisphere. The core of the Kaplan Collection covers the period
							before mass Jewish migration to the Americas in the late 1880s.
						</p>
					</div>
					<div>
						<img class="w-full rounded-lg shadow-lg" src={Kaplan.src} alt="Kaplan Collection" />
					</div>
				</section>

				<!-- The Early American Judaica Section -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="theearlyamericanJudaicacollection">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">The Early American Judaica Collection</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p>
								<Aboutthecollection />
							</p>
						</div>
					</div>
				</section>
				<!-- Processing the Collection -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="processingthecollection">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">Processing the Collection</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p>
								<ProcessingtheCollection />
							</p>
						</div>
					</div>
				</section>
				<!-- Meet the Collectors -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="meetthecollectors">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">About Arnold and Deanne Kaplan</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p>
								<MeettheCollectors />
							</p>
						</div>
					</div>
				</section>
				<!-- Path from Collector -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="pathfromcollector">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">The Path from a Collector to a Collection</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p>
								<PathfromCollector />
							</p>
						</div>
					</div>
				</section>
				<!-- Tradition of Philanthropy -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="traditionofphilanthropy">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">Arnold and Deanne Kaplan: An Extraordinary Tradition of
							Philanthropy</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p>
								<TraditionofPhilanthropy />
							</p>
						</div>
					</div>
				</section>


				<!--More Information -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="moreinformation">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">Website</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">About this Website</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p></p>
						</div>
					</div>
				</section>
				<!-- FAQ Section -->
				<section class="py-24">
					<div id="faq" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
						<div class="mb-16">
							<h6 class="text-lg text-indigo-600 font-medium text-center mb-2">
								FAQs
							</h6>
							<h2
								class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]"
							>
								Frequently asked questions
							</h2>
						</div>

						<div class="accordion-group" data-accordion="default-accordion">
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
								id="basic-heading-one-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
									aria-controls="basic-collapse-one-with-arrow"
								>
									<h5>How do I download images of the objects from the Kaplan Collection?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-one-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-one-with-arrow"
									style="max-height: 250px;"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-two-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-two-with-arrow"
								>
									<h5>Can I use items from the Kaplan Collection in my scholarship?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-two-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-two-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-three-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-three-with-arrow"
								>
									<h5>How do I see an item from the Kaplan Collection in person?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-three-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-three-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-five-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-five-with-arrow"
								>
									<h5>Is there documentation </h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-five-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-five-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>

							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-six-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-six-with-arrow"
								>
									<h5>Where can I learn more about the Kaplan Collection?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-six-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-six-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-seven-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-seven-with-arrow"
								>
									<h5>How do I use this site?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-seven-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-seven-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- About Judaica DH Section -->
				<section id="aboutjudaicadh" class=" pt-6 px-6 pb-40 gap-8   border-b-2">
					<div>
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About this Website</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-4">About Judaica DH at Penn</h2>
						<p class="text-gray-500 text-base leading-relaxed mb-6">
							Judaica DH (Judaica Digital Humanities) shares facets of Jewish life and history with the world through
							digital tools, projects, and scholarship rooted in, but not limited to, the Penn Libraries' Judaica
							collections. We are dedicated to crafting innovative and sustainable digital tools and projects with
							partners at Penn and beyond. Our commitment is rooted in the belief that collaboration, sustainability,
							and innovation are essential pillars for creating a more informed campus and public.
						</p>
						<a href="https://www.library.upenn.edu/kislak/judaicadh"
							 class="px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white text-sm font-medium rounded-lg transition">Learn
							more</a>

					</div>

				</section>

			</div>
		</div>
</div>
	<div
		class="fixed opacity-90 bottom-14 right-6 z-50 px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white text-sm font-medium rounded-lg transition"
		style="display: none;"
		id="scrollToTop"
		onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
	>
		<svg height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
			<!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
			<path fill="#f7f7f7"
						d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" />
		</svg>
	</div>

	<script>
		function toggleSidebar() {
			const sidebar = document.getElementById('default-sidebar')
			const toggleButton = document.getElementById('sidebar-toggle')
			const isExpanded = toggleButton.getAttribute('aria-expanded') === 'true'

			// Toggle sidebar
			sidebar.classList.toggle('translate-x-0')
			sidebar.setAttribute('aria-hidden', isExpanded ? 'true' : 'false')
			toggleButton.setAttribute('aria-expanded', !isExpanded)
		}

		// Scroll-to-Top Button Logic
		window.addEventListener('scroll', () => {
			const scrollToTop = document.getElementById('scrollToTop')
			if (window.scrollY > 100) {
				scrollToTop.style.display = 'block'
			} else {
				scrollToTop.style.display = 'none'
			}
		})
	</script>



