---
import BaseLayout from "../layouts/BaseLayout.astro";
import Kaplan from '../images/kaplan_logo.png'

// Import Markdown Content

import MeettheCollectors from '../content/Meet the Collectors.md'
import Aboutthecollection from '../content/Aboutthecollection.md'
import ProcessingtheCollection from '../content/ProcessingtheCollection.md'
import PathfromCollector from '../content/PathfromCollectortoCollection.md'
import TraditionofPhilanthropy from '../content/TraditionofPhilanthropy.md'
---

<BaseLayout title="About">

<div class="flex">
	<!-- Mobile Sidebar Toggle -->


	<!-- Sidebar -->

	<div class="flex">
		<!-- Sidebar -->
		<aside
			id="default-sidebar"
			class="hidden sm:block md:w-64 pl-1 flex-shrink-0 sticky top-0 h-screen overflow-y-auto border-r border-gray-200"
			aria-label="Sidebar"
		>
			<div class="px-4 py-6">
				<ul class="tab-nav flex flex-col gap-6">
					<li>
						<a href="#aboutthekaplancollection"
							 class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About the Kaplan Collection
						</a>
					</li>
					<ul class="ml-4 pl-2 border-l border-gray-200">
						<li class="pb-2">
							<a href="#theearlyamericanJudaicacollection"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								The Collection of Early American Judaica
							</a>
						</li>
						<li>
							<a href="#processingthecollection"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								Processing the Collection
							</a>
						</li>
					</ul>
					<!--	<li>
							<a href="#meetthecollectors" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
								Meet the Collectors
							</a>
						</li>
						<ul class="ml-4 pl-2 border-l border-gray-200">
							<li class="pb-2">
								<a href="#pathfromcollector"
									 class="hover:underline text-base font-medium leading-6 text-gray-600 hover:text-indigo-600 transition">
									Path from Collector to Collection
								</a>
							</li>
							<li>
								<a href="#traditionofphilanthropy"
									 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
									Tradition of Philanthropy
								</a>
							</li>
						</ul>-->
					<li>
						<a href="#aboutthewebsite" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About this Website
						</a>
					</li>
					<ul class="ml-4 pl-2 border-l border-gray-200">

						<li class="pb-2">

							<a href="#faq"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								FAQs
							</a>
						</li>
						<li>

							<a href="#usingAI"
								 class="hover:underline font-medium text-base leading-6 text-gray-600 hover:text-indigo-600 transition">
								Using AI
							</a>
						</li>
					</ul>
					<li>
						<a href="#judaicadh" class="font-semibold text-lg text-indigo-600 hover:text-indigo-800 transition">
							About Judaica DH
						</a>
					</li>

				</ul>
			</div>
		</aside>

		<!-- Main Content -->
		<div class="flex-1 overflow-y-auto">
			<div class=" mx-auto pt-6 px-4 sm:px-6 lg:px-12">
				<!-- About Section -->
				<section id="aboutthekaplancollection"
								 class="grid sm:grid-cols-1 lg:grid-cols-2 md:gap-8 md:h-full pb-20 border-b-2">
					<div>
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-4">About the Kaplan Collection</h2>
						<p class="text-gray-500 text-base leading-relaxed mb-6">
							The Penn Libraries holds the Arnold and Deanne Kaplan Collection of Early American Judaica, a
							collection of 13,000+ items (and counting), valued in excess of $12 million. It is the most
							important private collection of its kind, documenting the social and economic development of
							early Jewish life in the Western Hemisphere. The core of the Kaplan Collection covers the period
							before mass Jewish migration to the Americas in the late 1880s.
						</p>
					</div>
					<div class="hidden lg:block">
						<img class="w-full   rounded-lg shadow-lg" src={Kaplan.src} alt="Kaplan Collection" />
					</div>
				</section>

				<!-- The Early American Judaica Section -->
				<section class="border-b-2   pt-6   ">
					<div id="theearlyamericanJudaicacollection">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">The Early American Judaica Collection</h2>

						<!-- Accordion -->
						<div class="space-y-4">

							<div class="max-w-7xl    py-8">
								<p class="text-gray-700 leading-relaxed">
									The Arnold and Deanne Kaplan Collection of Early American Judaica, donated to the University of
									Pennsylvania Libraries in 2012 by the Kaplans, and growing each year, teaches us about the everyday
									lives, families, businesses, communal institutions, religious organizations, voluntary associations,
									and political circumstances of Jewish life throughout the western hemisphere over four centuries. It
									provides a unique window into the changing character of colonial life and culture around the Atlantic
									world and within the United States. It documents changing perceptions and experiences of new worlds of
									space and time, not only from the perspective of its Jewish colonists and citizens but also in the
									context of the larger societies in which they have lived. The collection, in short, is more than the
									sum of its parts. It is the constellation of unlimited potential connections among its many pieces
									from the time of colonial settlement in the sixteenth century into the era of mass migration at the
									end of the 19th century.
								</p>

								<!-- Image Strip -->
								<div class="flex justify-center gap-4 mt-6">
									<a href="../item/p3014v" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Hyman Gratz" alt="Hyman Gratz"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/6c1f75893a40f4e8c2f914306d4610e2.png" />
									</a>
									<a href="../item/p31d6q" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Fechheimer, Karpeles and Co." alt="Fechheimer, Karpeles and Co."
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/22ab81940805ace5b568c0924e473196.png" />
									</a>
									<a href="../item/p30v89h03" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Morris Gross, Clothier" alt="Morris Gross, Clothier"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/b46f01cd354568f8782264641d32aa14.png" />
									</a>
									<a href="../item/p32t65" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Judah P. Benjamin" alt="Judah P. Benjamin"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/d5a35f3822dd668d0e272abc6d01e612.png" />
									</a>
								</div>

								<h2 class="text-2xl font-bold text-gray-900 mt-8">A Collection Unlike Any Other</h2>

								<p class="text-gray-700 leading-relaxed mt-4">
									The Kaplans’ core collecting focus over the last half-century has been on the evolution of Jewish
									business life in the Americas. So, for example, early cartographic evidence in the collection marks
									colonial Jewish plantations in Surinam and the Caribbean as well as merchant activity in Atlantic port
									cities throughout the western hemisphere. Unique financial records reveal the trading activities
									of Jewish family businesses during the 18th and 19th centuries. Manuscript ledgers and correspondence
									from the late 18th century document Jewish commercial networks in North America, such as the expansion
									of the fur trade in upper Michigan and French Quebec. Just as notably, thousands of ordinary sources
									of information detail the daily struggles of Jewish peddlers, craftsmen, and small business owners.
									Bill heads - a type of printed form listing the products, prices, seller's name, date and other
									pertinent information – offer an archival trove for studying Jewish-owned businesses. Individual
									treasures also may be found such as a beautiful set of five of the rarest advertisement cards for the
									Levi Strauss clothing business that supplied pants worn by the “forty-niners” during the California
									Gold Rush. These primary sources have been avidly collected by the Kaplans and trace the growth
									and connections among Jewish businesses in the U.S. South, Midwest and Far West throughout the 19th
									century. </p>

								<p class="text-center font-semibold text-lg italic text-gray-800 mt-8">
									Thanks to the Kaplan Collection, we now have the ability to study and analyze in precise detail a wide
									spectrum of Jewish business experiences, i.e., degrees of success and failure represented by great
									wealth, moderate prosperity, the working poor, and those in need of charity.
								</p>

								<!-- Second Image Strip -->
								<div class="flex justify-center gap-4 mt-6">
									<a href="../item/p31c1tm5w" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Levi Strauss" alt="Levi Strauss"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/7468cced663e0ab190f42c94a16c8044.png" />
									</a>
									<a href="../item/p3611k" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Einstein Brothers" alt="Einstein Brothers"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/658a0d1679fafcf4922a2e5034432d80.png" />
									</a>
									<a href="../item/p3tb0xx24" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Jacobs & Bernstein" alt="Jacobs & Bernstein"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/a47bd9335924b45c6af49d023211e094.png" />
									</a>
									<a href="../item/p31x2c" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Henry Levie" alt="Henry Levie"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/4589303c2e75f41705a790a8c6811f18.png" />
									</a>
								</div>

								<!-- Further Content -->
								<p class="text-gray-700 leading-relaxed mt-8">
									he Kaplan Collection contains diverse format types, including what may be single largest collection of
									early Jewish photography in the United States. These photographs, produced by Jewish
									photographers and Jewish-owned photographic businesses, depict both non-Jewish and Jewish subjects,
									including what may be the earliest photograph of a carver of a Jewish tombstone. Noteworthy
									photographs include Civil War–era photos, for example, of the devastation in Richmond, cartes de
									visite, portrait (or studio) photos, and dozens of stereoscopic images, the nineteenth-century version
									of 3-D glasses. </p>

								<div class="flex justify-center gap-4 mt-6">
									<a href="../item/p35h7bz9d" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Carvalho, David Nunes" alt="Carvalho, David Nunes"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/4050400646b92f188a82867a0c6c9602.png" />
									</a>
									<a href="../item/p36b22" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Libby Prison, Richmond" alt="Libby Prison"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/ee757deb71080e25a8379dcb50f2e9d1.png" />
									</a>
									<a href="../item/p3rb6w70f" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="American-Jewish stone cutter" alt="American-Jewish stone cutter"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/4857cbb947fb78b47f5418627782ad9f.png" />
									</a>
									<a href="../item/p3zs2kj4h" target="_blank" rel="noopener">
										<img class="w-32 h-auto" title="Stereograph, Philadelphia, PA" alt="Stereograph, Philadelphia"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/22bad192272b0df53db3a795e4e53904.png" />
									</a>
								</div>
								<p class="text-gray-700 leading-relaxed">
									The Kaplans took a keen interest in all types of artistic expressions, visual as well as craft, of
									Jewish life in the Americas.Their collection includes original oil paintings that date from the
									eighteenth century, most from the nineteenth century, some in their original frames, as well as
									textile samplers, pastels, watercolors, handwritten sketches, and lithographs. There are
									three-dimensional, museum-quality artifacts, including presentation silver. The collection contains
									rare flatware with the stamps of Jewish silversmiths, and silver bowls of historic significance, such
									as one inscribed and given to a member of the Board of Delegates of American Israelites (the first
									Jewish lobbying/defense association, established in New York City in 1859). There also are
									examples of the first American glass ever blown to make bottles with raised Hebrew lettering.
									Among the unusual three-dimensional artifacts is a Civil War–era pistol owned by Jonas Levy, an
									officer in the U.S. Navy and the younger brother of Uriah P. Levy, the nation’s first Jewish naval
									commodore. This pistol, as well as an oil painting of a naval ship, and a shaving mug, were
									owned by Jefferson Monroe Levy, the son of Jonas Levy, and were kept at Monticello. Jefferson’s
									uncle Uriah Levy had purchased Monticello in 1834. During the Civil War, Monticello was seized
									by the Confederacy and sold but afterwards was reclaimed by Jefferson Levy after a lengthy court
									battle. On repossession, Monticello was in a state of terrible disrepair. Jefferson Levy then
									undertook to restore the historic home at great personal expense. The Kaplan Collection has numerous
									documents relating to the Levy family and the fate of Monticello. </p>

								<p class="text-gray-700 leading-relaxed mt-6">
									The Kaplan Collection has an abundance of materials that relate to Jewish service in the military,
									first in colonial militias, in the course of the American Revolution, in the wars in which the United
									States engaged in the nineteenth century, and on both side of the bloody divide between the North and
									South during the U.S. Civil War. From the French and Indian Wars in the mid-18th century are
									documents of Jewish merchants who provisioned the colonial British army; a unique handwritten business
									ledger kept by the Jewish merchant David Salisbury Franks between 1774 and 1776, while he resided in
									Montreal, Canada bears witness to his place as the first Jew to be jailed for supporting the American
									Revolution; from the War of 1812, there may be found the first known example of a Presidential pardon
									in a case involving an American Jew, Uriah P. Levy, who served as a witness in the court proceedings
									concerning acts of piracy and murder on the high seas (the aforementioned Levy famously would later
									become the first American Jewish naval Commodore); from the U.S. Civil War, there exists a watercolor
									drawing by Max Neugas, a Confederate Jewish prisoner of war, of the Union Barracks at Fort Delaware
									where he was held from 1863 until the war's end in 1865. </p>

								<!-- Image Strip -->
								<div class="flex justify-center gap-4 mt-6">
									<a href="../item/p3c24m" target="_blank" rel="noopener">
										<img class="w-32 h-auto"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/3997d64872deb3b322a2b709acce62ef.png"
												 alt="Image 1" />
									</a>
									<a href="../item/p3nq9j" target="_blank" rel="noopener">
										<img class="w-32 h-auto"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/c79bb8a10ded357c1a283e42a582d4f9.png"
												 alt="Image 2" />
									</a>
									<a href="../item/p35v2x" target="_blank" rel="noopener">
										<img class="w-32 h-auto"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/426977a3bd2020704c1013ed1a9a43f0.png"
												 alt="Image 3" />
									</a>
									<a href="../item/p3707wq4x" target="_blank" rel="noopener">
										<img class="w-32 h-auto"
												 src="http://kaplan.exhibits.library.upenn.edu/files/original/713241bb859400b0a639296ee8d6c09a.png"
												 alt="Image 4" />
									</a>
								</div>

								<p class="text-gray-700 leading-relaxed mt-6">
									Though mainly focused on original manuscripts and unique works of fine and folk art, the Kaplan
									Collection also contains approximately three hundred fifty volumes of rare printed books, serials, and
									pamphlets. Among them are a remarkable variety of landmark first edition imprints of Judaica
									Americana, such as Judah Monis’s Hebrew grammar...Hebrew grammar <em><a
									href="../item/p35n84" class="underline" target="_blank" rel="noopener">Dickdook Leshon
									Gnebreet</a></em> [Ivrit, i.e., Hebrew]. Printed in Boston by Jonas Green in1735 with
									Hebrew font imported from London, this grammar is regarded as the first Hebrew textbook in colonial
									America. ; The Kaplan Collection also holds the second such grammar, authored by Samuel Sewall and
									printed in Boston in 1763, which is the only other Hebrew grammar published in North America before
									the nineteenth century. The grammars of Monis, a convert to Christianity, and Sewall, a Christian
									Hebraist, bear witness to the early Protestant American interest in the language of the Old Testament.
									In fact, students were required to study Hebrew as part of the early standard curriculum at Harvard,
									where both men taught. Also found in the Kaplan rare print collection is the <em>Essai
									historique sur la colonie de Surinam</em> (Paramaribo [Suriname], 1788) by David Nassy, which contains
									the first history of the Jewish settlement of that Dutch colony. Nassy, a physician who came to
									Philadelphia during the yellow fever epidemic of 1793, successfully treated the city’s inhabitants,
									defying the bloodletting method employed by Dr. Benjamin Rush. The printed record of how he did
									it, based on his experiences in tropical Suriname, is also in the collection: <em>Observations on the
									Cause, Nature, and Treatment of the Epidemic Disorder, Prevalent in Philadelphia</em> (Philadelphia:
									Parker & Co. for M. Carey, 1793). Also noteworthy is the first children’s book by a Jewish
									author (Isaac Gomez), which is accompanied by a printed approbation from former President John Adams
									pasted inside its cover; the first Jewish almanac (<em>lu’ah</em>), printed by Moses Lopez (the Kaplan
									copy once belonged to Rebecca Gratz and contains her handwritten notes); and what is perhaps the first
									bar mitsvah sermon printed in the United States.
								</p>

								<p class="text-gray-700 leading-relaxed mt-6">
									The Kaplan Collection also contains important original source materials documenting the history of
									Atlantic Jewish emancipation and the beginnings of modern Jewish politics. For example, you find the
									original printing of the British Plantation Act of 1739, which granted Jews and other non-subjects in
									the colonies’ naturalization. You find primary sources that tell the story of how Jews became
									American citizens, how their constitutional rights were secured, and how their state rights were
									eventually won. You can learn too about painful episodes of oppression, anti-Jewish antagonism, both
									social and political, the conflicted position of Jews on opposite sides of the American Civil War.
								</p>

								<p class="text-gray-700 leading-relaxed mt-6">
									The collection of rare early American newspapers includes reprintings of the famous letters of
									congratulations sent by the Jewish congregations of the new republic to George Washington on the
									occasion of his inauguration as the first president of the United States.Found here is perhaps the
									most important exchange in American Jewish letters, that between Moses Seixas, representing the Jews
									of Newport, and Washington, in which he famously echoes Seixas’ phrase “to bigotry no sanction.” The
									phrase heralded a new epoch for Jews as citizens of a republic entitled to the same rights and
									privileges as all other (male) citizens. Remarkably, the Kaplan Collection holds copies, some in mint
									condition, of the contemporary newspaper reprintings of the letters from all six cities (Newport, New
									York, Philadelphia, Richmond, Charleston, and Savannah). Other newspaper accounts, pamphlets, and
									broadsides bear witness to painful episodes of resistance to Jewish civil rights such as occurred
									during the legislative debates over the Maryland Jew Bill to rectify the exclusion of Jews from
									serving in that state’s assembly, political infighting during the Jacksonian era, and in other moments
									of anti-Jewish antagonism, both social and political, such as the Mortara Affair in 1858, an
									international uproar caused by the Vatican’s defense of the secret baptism of a Jewish infant who
									later was taken from his parents to be raised as a Catholic.
								</p>

								<p class="text-gray-700 leading-relaxed mt-6">
									Finally, in the field of American Jewish religious history, the Kaplan Collection contains unique
									documents of the history of observant Judaism in early America. While some histories of early American
									Jews have focused on forms of assimilation, secularization or reform, the Kaplan Collection, without
									neglecting any of these traditional subjects, meanwhile paints an entirely different canvas of
									religious renaissance and revival.
								</p>
							</div>
						</div>
					</div>
				</section>
				<!-- Processing the Collection -->
				<section class="border-b-2   pt-6   ">
					<div id="processingthecollection">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">Processing the Collection</h2>

						<!-- Accordion -->
						<div class="space-y-4">


							<p>The overall Kaplan gift of items to the University of Pennsylvania Libraries can be divided into three
								separate collections:</p>
							<ul class="list-disc list-inside text-gray-700 space-y-2 ">
								<li><a href="#earlyAmerican" class="text-indigo-600 hover:underline">Early American Judaica (the core
									collection)</a></li>
								<li><a href="#modernAmerican" class="text-indigo-600 hover:underline">Modern American Judaica</a></li>
								<li><a href="#nonJudaicaAmericana" class="text-indigo-600 hover:underline">Non-Judaica Americana</a>
								</li>
							</ul>
							<hr />

							<div id="earlyAmerican" class="space-y-4 pb-8">
								<h2 class="text-2xl font-bold text-gray-900">The Kaplan Collection of Early American Judaica</h2>
								<p class="text-gray-700 text-center">
									The Kaplan Collection of Early American Judaica that will be discovered online in Colenda is one that
									Arnold Kaplan thoroughly vetted and curated in an effort to define
									a field of study in time and space, i.e., temporally and geographically, through the vehicle of
									the Kaplan collection. </p>
								<p class="italic text-gray-700">
									Not included in the collection of Early American Judaica:
								</p>
								<p class="text-gray-700">
									In the course of their lives collecting together, the Kaplans acquired many items that today are
									outside the temporal and geographical scope of their core collecting focus on pre-mass migration
									American Jewish history. To sharpen the intellectual parameters and historical character of the
									collection of early American Judaica (the core collection), Arnold Kaplan has tirelessly reviewed
									every item he originally donated. His main criteria for removal of items from the core collection
									were:
								</p>
								<ul class="list-disc list-inside text-gray-700 space-y-2">
									<li>Items of Judaica Americana too late to be included in the core collection of early American
										Judaica.
									</li>
									<li>Items of Judaica not related to American Jewish history at all.</li>
									<li>
										Items originally thought to be Judaica, but later discovered not to be, such as documents relating
										to David Kaufmann, the Texas politician and U.S. Congressional representative. After thoroughly
										researching the matter, Mr. Kaplan conclusively determined that Kaufman was not Jewish, which is the
										current scholarly consensus.
									</li>
								</ul>
								<p class="text-gray-700">
									The Kaplan Collection of Early American Judaica is now discoverable online and viewable in its
									entirety in Colenda, the Penn Libraries’ secure digital image repository. The online “Early Kaplan”
									collection does NOT include thousands of items from the original gift deemed outside the scope of the
									Kaplan Early American Judaica collection criteria.
								</p>
								<p class="text-gray-700">
									To process, catalog, scan, and put online a collection of this size and complexity, while addressing
									the urgent scope and content parameters requirements, required a team of skilled professionals over
									several years. Their combined efforts, in regular consultation with Mr. Kaplan, led to the development
									of new workflows, new categories of materials, and alternative locations for all removals.
								</p>
							</div>

							<hr />
							<div id="modernAmerican" class="space-y-4 pb-8">
								<h2 class="text-2xl font-bold text-gray-900">The Arnold and Deanne Kaplan Collection of Modern American
									Judaica</h2>
								<p class="text-gray-700">
									Excluded items which post-date the periodization of the Kaplan Collection of Early American Judaica
									(through 1890) are now grouped under the heading “The Arnold and Deanne Kaplan Collection of Modern
									American Judaica.” The Kaplan “Modern” American Judaica collection, therefore, and in contrast to the
									Kaplan “Early” American Judaica collection, consists of items that date from after 1890.
								</p>
								<p class="text-gray-700">
									<strong>Exceptions:</strong> There are important exceptions to this core collection periodization
									which are important to keep in mind when searching and viewing the ‘early” Kaplan collection. Some
									documents from the American Far West which date from the 1890s are considered and included as part of
									the “early” Kaplan Collection in that they still are seen as belonging to a pioneer experience of
									Jewish settlement.
								</p>
								<p class="text-gray-700">
									<strong>Non-American Judaica Kaplan gifts:</strong> The dozens of works of Judaica without any
									connection to the American experience have been removed and cataloged as individual gifts made by the
									Kaplans to the Penn Libraries. These occasional items of non-American Judaica given by the Kaplans do
									NOT form a separate, named Kaplan collection. Instead, they may be discovered individually by
									searching the Penn Libraries’ online public catalog, Franklin. They will not be found by searching the
									Kaplan Early American Judaica Collection.
								</p>
								<p class="text-gray-700">
									<strong>Non-Judaica Kaplan gifts:</strong> Hundreds of items identified as non-Judaica, mainly Trade
									Cards, also have been removed from the original gift collection. Instead, they have been accessioned
									individually and are discoverable in the online catalog with provenance notes in the cataloging record
									noting that they are gifts of the Kaplans.
								</p>
								<hr />
							</div>

							<div id="nonJudaicaAmericana" class="space-y-4 pb-8">
								<h2 class="text-2xl font-bold text-gray-900">The Arnold and Deanne Kaplan Collection of Americana
									(non-Judaica)</h2>
								<p class="text-gray-700">
									The Kaplans also deliberately collected over the years many non-Judaica historical documents and works
									of art. In 2012, the Kaplans donated one such collection of (non-Judaica) Americana to the Penn
									Libraries. The Kaplan Americana collection consists of six linear feet of manuscripts and photographs.
									The manuscript types include account books, ciphering books, diaries, letter books, penmanship
									notebooks, and recipe books. The photographs all come from the educational department of the
									Philadelphia Commercial Museum.
								</p>
								<p class="text-gray-700">
									The Kaplan collection of Americana is divided into two series: manuscripts and photographs. The
									manuscripts are further divided by function: account books, ciphering books, diaries, letter books,
									penmanship notebooks, and recipe books. The photographs all come from the educational department of
									the Philadelphia Commercial Museum.
								</p>

							</div>
						</div>
					</div>
				</section>

				<!--		&lt;!&ndash; Meet the Collectors &ndash;&gt;
						<section class="border-b-2 pb-8  pt-6 px-6  ">
							<div id="meetthecollectors">
								<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
								<h2 class="text-gray-900 text-4xl font-bold mb-6">About Arnold and Deanne Kaplan</h2>

								&lt;!&ndash; Accordion &ndash;&gt;
								<div class="space-y-4">

									<div class="max-w-7xl    py-8">


										<p class="mb-3 text-gray-700"><strong><img title="Arnold and Deanne Kaplan"
																	src="http://kaplan.exhibits.library.upenn.edu/files/original/cc4e19b557d7805d2aff2886268185d4.png"
																															 class="float-right" />Arnold H. Kaplan</strong> is retired
											from UnitedHealth Group, where he
										served as chief financial officer. Prior to joining UnitedHealth Group, Mr. Kaplan was senior
											vice-president and chief financial officer for Air Products and Chemicals, Inc.. He is a native of
											Pittsburgh, Pennsylvania. Kaplan and his wife Deanne, who have two children and six grandchildren,
										currently reside in the Sarasota area of Florida. <strong>Deanne Kaplan</strong>, originally from
											Pittsburgh, has a degree in history from the University of Pittsburgh. She taught history and was
										active in Jewish communal life, having served as the local chapter president of Hadassah (the Women’s
											Zionist Organization) in Allentown and in West Chester.</p>
										<p class="mb-3 text-gray-700">Arnold Kaplan received his bachelor of science degree in commerce and
											engineering from Drexel
										University in 1962. He received a master's of science degree in industrial administration from
										Carnegie-Mellon University in 1964. Kaplan served on the board of the American Jewish Historical Society
										and is a trustee of the UnitedHealth Group Charitable Remainder Trust. He has served on the boards of
											the Lehigh Valley Hospital & Health Network, the Allentown Art Museum, the Jewish Federation of
											Sarasota-Manatee and in Allentown, and the Baum School of Art. Kaplan is past chairman of the
										Alumni Board of Governors of Drexel University.</p>

										<p class="mb-3 text-gray-700">Dee and Arny’s shared passion for the past led them into collecting. The
											Kaplans began collecting
										in the early 1970s at Renninger's Antique Market near Lancaster, Pennsylvania. They also traveled to
											paper and book shows in Pennsylvania, New Jersey, and New England. Beginning in the early 1980s,
										they became active in auctions in New York. With the growth of the World Wide Web in the 1990s, the
											Kaplans discovered yet another source for collectibles. In addition to the Arnold and Deanne
										Kaplan Collection of Early American Judaica, the Kaplans also built a small collection of American
											non-Jewish material in the course of their decades of collecting together. <a class="underline"
																																																		href="http://dla.library.upenn.edu/dla/ead/detail.html?id=EAD_upenn_rbml_MsColl1094">The
												Arnold and Deanne Kaplan collection of Americana</a>
										(not to be confused with the Kaplan Collection of Early American Judaica) consists of printed works,
										manuscripts, and photographs, which they also have donated to the Penn Libraries.</p>

									</div>
								</div>
							</div>
						</section>
						&lt;!&ndash; Path from Collector &ndash;&gt;
						<section class="border-b-2   pt-6 px-6  ">
							<div id="pathfromcollector">
								<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
								<h2 class="text-gray-900 text-4xl font-bold ">The Path from a Collector to a Collection</h2>
								<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"> By Arnold Kaplan</p>
								&lt;!&ndash; Accordion &ndash;&gt;
								<div class="space-y-4">

									<div class="max-w-7xl    py-8">

										<p class="mb-3 text-gray-700">Dee and I are well into our collecting journey, which has taken about four
											decades. It was a
										journey that evolved into an attempt to add to the understanding of the Jew in the New World both as Jew
										and as citizen. Its time frame begins in the sixteenth century with a Jew in Lima, Peru, circa 1550, and
										the Inquisition in Mexico City in the late 1590s, and takes us up to the period of mass migration around
										1890. We are frequently asked to explain our path to developing the collection. I will use this
										opportunity to dwell on that question.</p>

										<h2 class="text-2xl font-bold text-gray-900">The Evolution of a Collection</h2>

										<blockquote
											class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
											<p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">"One cannot
												collect history in any meaningful fashion without a love of
												history."</p>
										</blockquote>
										<a
											href="www.kaplancollection.org/item/p3079t" target="_blank" rel="noopener"><img
											src="http://kaplan.exhibits.library.upenn.edu/files/original/3e4b1291baf1f51419f2bb251222b146.png"
											class="float-right" /></a>
										<p class="mb-3 text-gray-700">That spark was generated in me by my father, Morris Kaplan. Armed with at
											best an eighth-grade
										education, he spent many a Sunday at the Carnegie Library/Museum in Pittsburgh reading historical
											fiction and history books, and visiting the museum. I was in tow. During our spare time, we also
											visited locations such as Fort Necessity and Fort Pitt. By the early 1950s, I was haunting the
										Carnegie Museum in the hope of becoming a paleontologist or archeologist. To my young mind, these
										scientists were the ultimate collectors. A leading paleontologist at the museum named Rickenbacker gave
										me some sage advice. First, he asked, “Do you come from a wealthy family that can support your education
											and then career?” The answer was a teenager’s “Nope”; college would only come through scholarships
										and part-time jobs, I explained. “Well, then,” he said, “I suggest you pursue a career in which you can
										make a living and have history/collecting as an avocation.” I followed that advice and have never looked
											back. When I met my partner of the last fifty-seven years, not surprisingly Dee had a degree in
										history. We continue to share our love of history.</p>
										<h2 class="text-2xl font-bold text-gray-900">The Beginnings of a Collection</h2>
										<p class="mb-3 text-gray-700">We raised our family in Eastern Pennsylvania about seventy miles
											north of Philadelphia. In the late 1960s, the area was replete with house and farm auctions. It
										was an ideal location for a young couple that enjoyed collecting and needed to furnish a home. Here we
										could search out and furnish our home with “used” mid-1800s (and earlier) items that were less expensive
										than modest “new” home furniture. We subsequently expanded our collecting to include folk art and
										decorative arts. Added to that was my own interest in American mercantile documents from the eighteenth
										and nineteenth centuries.</p>
										<p class="mb-3 text-gray-700"><a href="www.kaplancollection.org/item/p3bn9x77r" target="_blank"
																										 rel="noopener"><img
										src="http://kaplan.exhibits.library.upenn.edu/files/original/394efea323d6e141593e682fa201fc71.png"
										class="float-left" /></a>Liking folk art but having a very limited budget, I was intrigued by
											Pennsylvania
										German printed <em>Taufscheine</em> (baptismal certificates), which were filled in by itinerant
											scriveners (oftentimes pack merchants) and colored, usually by a child. The majority dated from
										the period between 1830 and 1860. Much to Dee’s chagrin, I began to collect these orphan manuscripts.
										(That collection now resides in the Allentown Art Museum.)</p>
										<p class="mb-3 text-gray-700">In the early 1970s, I came across a printed <em>Taufschein</em>, circa
											1840. It was sold and filled in
										by a literate traveling merchant/scrivener at a farmhouse in the area. The certificate was not unusual,
										except for the fact that the scribe signed his name in cursive Yiddish. To the dealer, the document was
											just another piece of low-value ephemera. After some customary haggling, it was mine for about
										$10. My interest in early American Jewish history had been piqued. So began the long journey of
										collecting in an arena that Dee and I have shared.</p>
										<p class="mb-3 text-gray-700">At the time, there was little interest among collectors in early American
											Judaica except perhaps for
										iconic pieces of art and important documents. While interesting, the latter were not close to fitting
										into our budget. I struck upon the idea of collecting material about American Jews in a mercantile
										environment. These kinds of untapped and low-priced ephemera seemed like a good fit for a young
											budget-minded collector like me. I was ill equipped for the task at hand. I had no academic
										training and certainly no grand plan for any disciplined exploration of American Jewish mercantile
											history. My seven years of academic training in engineering and finance did not include one course
										in history. I look back now and conclude that our collecting and therefore our collection would have
										taken a very different path if we had had substantial resources at our disposal when we first got
										started. We are quite satisfied with the path that our collecting did take.</p>
										<p class="mb-3 text-gray-700">When we started out in the early 1970s, secondary research sources in the
											field of early American
										Jewish history were few and far between. The key books of national scope we used numbered only six. The
										first three were authored by the historian Jacob Rader Marcus: The <em>Colonial American Jew,
											1492–1776</em>;<em> Memoirs of American Jews, 1775–1865</em>;<em> and Critical Studies in American
											Jewish History</em>. Additionally, we consulted Joseph R. Rosenbloom’s <em>Biographical Dictionary of
											Early American Jews</em>, A. S. W. Rosenbach’s <em>American Jewish Bibliography</em>, and <em>The
												Hebrews in America</em> by Isaac Markens. Local Jewish historical publications offered another
										fruitful source of research information. I also selectively turned to the excellent periodicals
										published by the <a href="http://www.ajhs.org/publications" target="_blank" rel="noopener">American
											Jewish Historical Society (AJHS)</a> and the <a href="http://americanjewisharchives.org/"
																																			target="_blank" rel="noopener">American Jewish
											Archives</a> (AJA) for articles in my areas of collecting interest. These journals were not on-line in
										the early 1970s and therefore not easily accessible.</p>
										<p class="mb-3 text-gray-700">In those early days, I had few skills to determine which research
											materials were available. The problem
										was compounded by the fact that we did not live in a major metropolitan area with easy access to a large
										public library. I started attending book shows in Philadelphia and purchased whatever reference
										materials I could find. From the early 1970s through the mid-1980s the search was somewhat solitary.</p>
										<p class="mb-3 text-gray-700">By the early 1980s, this world began to change, as more scholars began
											publishing in the field (many
											trained by Jacob Rader Marcus). My layman’s skills for research also were developing. In the
										1990s, the game-changer for the amateur researcher was the advent of the Internet as a search tool. I
										quickly learned how to tailor it to my needs.</p>
										<p class="mb-3 text-gray-700">Today, Dee and I enjoy the company of scholars and dealers who generously
											spend personal time educating
										us. A continuing source of valuable information is well-researched auction and exhibit catalogues. Our
										library of reference books houses over four hundred titles, and we are able to search our collection and
										its multifaceted database by computer.</p>
										<h2 class="text-2xl font-bold text-gray-900"> Defining and Building a Collection: The Search</h2>
										<p class="mb-3 text-gray-700">My friend Sid Lapidus, Co-Chairman of the American Jewish Historical
											Society and a major American
										collector, noted in the introduction to the catalogue that accompanied the exhibit of his collection at
										Princeton in 2009: “From the buyer’s viewpoint, there is a major difference between wanting an item and
										it being currently offered for sale. No matter the price, one can only buy what is available.
										Consequently, regardless of intent, collections, even those with a particular focus, are built somewhat
											haphazardly.” To that statement I can only say: guilty as charged.</p>
										<p class="mb-3 text-gray-700">Our collecting began almost exclusively as early morning Sunday trips to
											Renninger’s Antique Market
										outside of Lancaster, Pennsylvania. In those days, Renninger’s was a great source for early documents
										and books freshly arrived from estate sales. Those trips were supplemented by our visits to local paper
										shows, where dealers would show us their inventories of books and paper. It was rare to find a dealer
										with Judaica specified in his or her inventory; for the most part, this meant we had to sift laboriously
											through Americana in the hope of finding early Jewish-related material. These shows were mostly
											held in Eastern Pennsylvania. We also made some forays into New England and New Jersey. It was all
											done under the radar, and many a great find was made in this way. We did not visit the great paper
											and book shows in New York City. First, these high-visibility shows did not fit our pocketbook;
										second, they were too intimidating, given my knowledge base. For almost half of the period of our
										collecting activity, few dealers knew what we were about.</p>
										<p class="mb-3 text-gray-700"><a href="www.kaplancollection.org/item/p3np1wk6f" target="_blank"
																										 rel="noopener"><img
										src="http://kaplan.exhibits.library.upenn.edu/files/original/58ef0f9aec8f5d15f99933ece887e56f.png"
										class="float-left" /></a>During this period, I stumbled across a Victorian trade card of a Jewish
											merchant
											from New York City. These small advertising cards contain lithographic illustrations ranging from
											the comical to the highly ornate. They date from the 1870s through the 1890s. Mainly collected at
										the time by young ladies, today they are sought after by collectors. As might be expected, the vast
										majority of these trade cards were not of Jewish-owned businesses, so it was no easy matter to identify
										the Jewish ones. Dee looked at the cards and decided that the collection should include these cards as a
										unique window into Jewish businesses of that era. She set about going to the paper shows and searching
										for other examples. Today the collection houses over 3,500 cards from across the United States. It would
										be impossible to duplicate this part of the collection.</p>
										<p class="mb-3 text-gray-700">Slowly we began to find and understand items that were not mercantile in
											nature but represented
										American Jews more broadly in family settings, as public servants, as members of the Jewish community,
											and as individuals. These acquisitions began to expand the focus of our collection. In the early
											1980s, I began to search American auction catalogues to find Judaica gems hidden among their
											offerings.
										At the time, there were few Judaica auctions, and what sold mostly consisted of European Judaic
										material. As Judaica Americana began to be auctioned more frequently, I started to follow these sales.
										While we were still under the radar, a few dealers began to know of our interests and would hold items
										or contact me by phone (email did not yet exist!). I finally steeled my backbone and began to visit the
										New York paper shows.</p>
										<p class="mb-3 text-gray-700">In summary, the 1970s through the early 1990s were a golden age for our
											collection. With hard work,
											good material could be found at “reasonable” prices. Most importantly, as the collection grew, the
										dots began to connect as we recognized interrelationships among the pieces. During that time we never
										visited a paper show without finding some gems, and most dealers as well as auction catalogues regularly
											yielded pleasant surprises. Those years were formative in defining the collection and therefore
										its content. Around 1990, it became clear that the collection, while always having a strong core of
										mercantile material, would encompass the full spectrum of primary sources for understanding the Jew in
										the Americas both as Jew and as citizen. There were just too many dots to connect, and mercantile
										documents alone simply did not do it.</p>
										<p class="mb-3 text-gray-700">By the mid-1990s, public interest in collecting American Judaica had
											grown, and collecting under the
											radar became an exercise in futility for us. We also became more visible around this time because
										Dee and I became associated with the Ezra Consortium of the American Jewish Archives. Later, I joined
										the Board of the American Jewish Historical Society, where I served as the co-chair of the Society’s
										Collections Committee. More recently, I also served as a member of the Collections Committee of the
										National Museum of American Jewish History. All of these associations created numerous opportunities to
											meet and learn from scholars in our field of interest. The mid-1990s saw us collecting and looking
										like any serious, focused collector. Fortunately, our budget had strengthened by then and we found
										ourselves seeking out more publicized pieces that added to the collection in important ways. Calls
										offering important material became more commonplace, and the New York paper and book shows were no
										longer intimidating. And yes, the Internet along with eBay has yielded a surprising amount of valuable
											material. Over time, however, we have seen the amount patently diminish. Gone are the days
										of great finds at every show and in every catalogue; nonetheless, the hunt goes on, and we continue to
										find meaningful additions, albeit at a much reduced pace and with commensurately higher prices.</p>
										<p class="mb-3 text-gray-700">In the early 1990s, I began to use a commercial database for hobbyists to
											enter each item in the
											collection. It was called OYC and ran on DOS (disk operating system). In the year 2000, panic set
										in when the software maker developed health problems and technical support stopped. I struggled with new
											entries, fearing the day the system would crash. As fate would have it, I met Franklin Silverstone
										at a paper show around 2005. He had an exhibit booth and was trying to interest people in his company’s
										database, called Collectify. I explained both my problem and the context of our collection to Franklin,
											and he promised to help in the conversion. Bear in mind, the cost of Collectify was a once and
											done fee of less than $200. True to his word, Franklin put a developer on it, and by the beginning
										of 2007 our entire collection had been migrated to Collectify’s vibrant platform. When I asked for a
										bill, he responded that there was none. I cannot overstate the importance of this database for our
										collection. For me it was an eloquent and indispensable way to connect the dots and organize the
										material. In short, Collectify helped to coalesce our thinking. In subsequent years, the database has
										been useful to researchers as well as institutions that wished to borrow items for exhibition.</p>
										<p class="mb-3 text-gray-700">Our method of collecting is a bit unusual. When choosing an item for the
											collection we differ
										from most serious collectors who are looking at the unique intellectual content of an individual item.
										Yes, the collection holds many items that are important in their own right; however, others are only
										important as a subset of the collection as a whole. Take, for example, eighteenth- and
											nineteenth-century American business receipts from Jews. Viewed individually, they are interesting
											but offer limited intellectual content. Gather a thousand of them into one collection and they
										become a collage for understanding American Jewish mercantile activities. In a like manner, many of the
										over four hundred letters to and from Isaac Lesser (widely regarded as the most important antebellum
										American Jewish leader) are mundane; however, taken together they shed light on the world in which he
										lived in a way that otherwise would not be possible.</p>
										<p class="mb-3 text-gray-700">We do not use an agent to find or recommend items. From the outset, we
											have collected on our own. This
										kind of work is too personal to subcontract. The learning comes from the hunt. That hunt still goes on;
										it gives us great pleasure to continue to add to the Kaplan Collection at the University of
										Pennsylvania.</p>
										<h2 class="text-2xl font-bold text-gray-900">For a Good Deal of Help…Thank You</h2>
										<p class="mb-3 text-gray-700">Building our collection was a
										somewhat solitary voyage; however, the folks we have met along the way have illuminated our path to
											knowledge and have made the voyage a joy. To some, a few words of thanks:</p>
										<p class="mb-3 text-gray-700">To Roy and Jean Kulp, dealers in Pennsylvania German books and
											manuscripts: you were the first dealers
											I remember. I learned from you, and your patience in allowing me to rummage through your inventory
										without explaining what I was looking for started me on the path.</p>
										<p class="mb-3 text-gray-700">Bill Luke, for decades I could count on entering your booth and hearing
											“Hey, Kaplan, I have some
										Jewish stuff for you. . . .” Sometimes you were right and sometimes not, but all of the time you were
										fun.</p>
										<p class="mb-3 text-gray-700">Tim Hughes, due to your knowledge and hard work, you now are the largest
											rare newspaper dealer in the
										world; however, what I most remember are the old days when you allowed me to spend a day in your cellar
										in rural Pennsylvania, poring through and learning about eighteenth-century newspapers.</p>
										<p class="mb-3 text-gray-700">oseph Freedman and his wife are gentle people. Over the years as a dealer
											he sold me material from his
										small but important collection of early Philadelphia Judaica.</p>
										<p class="mb-3 text-gray-700">The auction catalogues of Daniel Kestenbaum are a joy to read, as are the
											sales catalogues of David
											Lesser and Irvin Ungar. Speaking with these gentlemen and discussing items has been a highlight.
											Daniel spent nearly a year helping us prepare the records for the donation of the collection to Penn.
										His efforts were invaluable.</p>
										<p class="mb-3 text-gray-700">To our friend Gary Zola, the executive director of the Jacob Rader Marcus
											Center of the American Jewish
										Archives and professor of the American Jewish Experience at Hebrew Union College: you were the first
										scholar who began to understand what we were up to. Your guidance, along with that of Kevin Proffitt,
											senior archivist for Research & Collections at the American Jewish Archives, has been important over
										the years.</p>
										<p class="mb-3 text-gray-700">It was through Gary that we met our now long-time friend Jonathan Sarna,
											the Joseph H. &amp; Belle R.
										Braun Professor of American Jewish History at Brandeis University. Jonathan is the recognized dean of
										American Jewish history. I still marvel at how Jonathan so promptly responds to my many emails.</p>
										<p class="mb-3 text-gray-700">Leo Hershkowitz, a scholar in colonial New York City, over the years your
											personal lectures on early
										New York Jewry were gems.</p>
										<p class="mb-3 text-gray-700">A great satisfaction in collecting is the association with collectors who
											shared their knowledge and
										the joys of collecting; a special one is Michael Jesselson, an extraordinary collector of American
											Judaica. Michael knows how to connect the dots.</p>
										<p class="mb-3 text-gray-700">We met Jack and Linda Lapidus about thirty years ago; they are the
											embodiment of the
										collector-scholar.</p>
										<p class="mb-3 text-gray-700">And last but not least, I would like to acknowledge my friend and
											associate at the American Jewish
										Historical Society, Sid Lapidus. The exhibit of your collection at Princeton was world-class.</p>
										<p class="mb-3 text-gray-700">To our family and friends whose deep interests do not include American
											Jewish history, thanks for
										remaining our friends.</p>
										<p class="mb-3 text-gray-700">The efforts of the staff of the University of Pennsylvania Libraries,
											first to accession the collection
										and now to absorb it are a wonder to behold: thanks to all.</p>
										<p class="mb-3 text-gray-700">A special thanks to the scholars who generously gave their time to include
											their perspectives of the
										collection in this volume.</p>
										<p class="mb-3 text-gray-700">In what seems like the distant past, a friend, Gwen Goodman, the now
											Executive Director Emerita at the
											National Museum of American Jewish History, invited Dee and me to an NMAJH event. There she
										introduced us to Arthur Kiron, the Schottenstein-Jesselson Curator of Judaica Collections at the
										University of Pennsylvania. While we stood talking, I broached the simple idea of scanning our letters
										of the important mid-nineteenth-century rabbi Isaac Leeser. The goal would be to make them available
											on-line to scholars. Arthur took that embryonic idea and magnified it to the tenth power.
										The Jesselson-Kaplan American Genizah Project, now freely available on-line, is a groundbreaking model
										that shows how to gather dispersed but related documents and use digital technologies to integrate their
											content and make them user-friendly to scholars around the world. Through that association, Arthur
										opened a window for us to see the extraordinary capabilities that Penn had in its Rare Book &amp;
										Manuscript Library, with its expert curatorial and media resources, as well as the Herbert D. Katz
										Center for Advanced Judaic Studies, with its excellence in Judaic scholarship.</p>
										<p class="mb-3 text-gray-700">During this time, Dee and I had been going through a serious thought
											process as to where to place the
										collection. We had several requirements: do not break up the collection; place it in an institution with
										world-class archival qualifications; and last but not least, give it to an institution that would make
											the material readily available for scholarship. However, there was one difficult issue to resolve.
										The collection, in terms of volume and emphasis, is primarily archival in nature and is best suited for
										a special collections library environment, however; the collection also houses important early American
										Jewish art and silver and other three-dimensional artifacts. The latter fit better in a museum setting
											than in a rare book and manuscript library.</p>
										<p class="mb-3 text-gray-700">In 2008, we approached Arthur with the following proposition: the Penn
											Libraries would take ownership
										of the entire collection and store the nonarchival material in accordance with museum standards. Penn
										would make the nonarchival material available to scholars or for short-term loans to exhibit at approved
										institutions. Importantly, the archival material would be scanned and made available to scholars
										worldwide. Arthur took the case to Vice Provost and Director of Libraries Carton Rogers, who approved
											the concept. The plan has now become a reality.</p>
										<p class="mb-3 text-gray-700">Arny Kaplan</p>
										<p class="mb-3 text-gray-700">Lakewood Ranch, Florida</p></div>

							</div>
							</div>
						</section>
						&lt;!&ndash; Tradition of Philanthropy &ndash;&gt;
						<section class="border-b-2   pt-6 px-6  ">
							<div id="traditionofphilanthropy">
								<h6 class="text-lg text-indigo-600 font-medium mb-2">Meet the Collectors</h6>
								<h2 class="text-gray-900 text-4xl font-bold mb-6">Arnold and Deanne Kaplan: An Extraordinary Tradition of
									Philanthropy</h2>

								&lt;!&ndash; Accordion &ndash;&gt;
								<div class="space-y-4">
									<p class="mb-3 text-gray-700">
										The Kaplans are exceptional not only in their genius for collecting but also for their philanthropic
										vision and support
										for the needs of the collection.
									</p>
									<p class="mb-3 text-gray-700">
										In order to make sure the Kaplan Collection would be processed at the item level, meaning that each
										individual item
										would be accessioned, cataloged, and imaged, the Kaplans provided the funds to hire dedicated staff to
										accomplish this
										work through the Kaplan Digitization and Cataloging Fund. The Kaplans also funded the production and
										publication of a
										prize-winning Companion Volume to the Exhibition of the Kaplan Collection that was mounted in 2014,
										Constellations of
										Atlantic Jewish History: The Arnold and Deanne Kaplan Collection of Early American Judaica, 1555-1890.
										They also
										established a Kaplan Term Acquisition Fund to support the continued growth of the collection, even as
										they continue to
										add to the collection itself at the rate of ca. 300 items per year.
									</p>
									<p class="mb-3 text-gray-700">
										They now are establishing the
										<em>Arnold and Deanne Kaplan Collection of Early American Judaica Curator of Digital Humanities.</em>
										This is the first endowed position for Judaica Digital Humanities in the world.
									</p>
									<p class="mb-3 text-gray-700">
										This pioneering curatorship not only will oversee the needs of the Kaplan Collection but help promote
										access to and use
										of all of Penn’s world-class Judaica collections. The Kaplans also have made additional gifts to promote
										and support the
										research and use of the collection.
									</p>
									<p class="mb-3 text-gray-700">
										It is hard to put into words what an extraordinary partnership they have formed with the Penn Libraries
										and what a
										lasting difference they have made in the development of the field of early American Judaica and Jewish
										history and
										culture writ large.
									</p>

								</div>
							</div>
						</section>

		-->
				<!--More Information -->
				<section class="border-b-2   pt-6 px-6  ">
					<div id="moreinformation">
						<h6 class="text-lg text-indigo-600 font-medium mb-2">Website</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-6">About this Website</h2>

						<!-- Accordion -->
						<div class="space-y-4">
							<p></p>
						</div>
					</div>
				</section>
				<!-- FAQ Section -->
				<section class="py-24">
					<div id="faq" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
						<div class="mb-16">
							<h6 class="text-lg text-indigo-600 font-medium text-center mb-2">
								FAQs
							</h6>
							<h2
								class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]"
							>
								Frequently asked questions
							</h2>
						</div>

						<div class="accordion-group" data-accordion="default-accordion">
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50 active"
								id="basic-heading-one-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:font-medium accordion-active:text-indigo-600"
									aria-controls="basic-collapse-one-with-arrow"
								>
									<h5>How do I download images of the objects from the Kaplan Collection?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-one-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-one-with-arrow"
									style="max-height: 250px;"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-two-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-two-with-arrow"
								>
									<h5>Can I use items from the Kaplan Collection in my scholarship?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-two-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-two-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-three-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-three-with-arrow"
								>
									<h5>How do I see an item from the Kaplan Collection in person?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-three-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-three-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-five-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-five-with-arrow"
								>
									<h5>Is there documentation </h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-five-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-five-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>

							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-six-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-six-with-arrow"
								>
									<h5>Where can I learn more about the Kaplan Collection?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-six-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-six-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
							<div
								class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-indigo-50 accordion-active:bg-indigo-50"
								id="basic-heading-seven-with-arrow"
							>
								<button
									class="accordion-toggle group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600 accordion-active:text-indigo-600"
									aria-controls="basic-collapse-seven-with-arrow"
								>
									<h5>How do I use this site?</h5>
									<svg
										class="text-gray-500 transition duration-500 group-hover:text-indigo-600 accordion-active:text-indigo-600 accordion-active:rotate-180"
										width="22"
										height="22"
										viewBox="0 0 22 22"
										fill="none"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
											stroke="currentColor"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round"
										></path>
									</svg>
								</button>
								<div
									id="basic-collapse-seven-with-arrow"
									class="accordion-content w-full px-0 overflow-hidden"
									aria-labelledby="basic-heading-seven-with-arrow"
								>
									<p class="text-base text-gray-900 leading-6">
										Coming soon...
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Using AI -->
				<section id="usingAI" class=" pt-6 px-6 pb-40 gap-8   border-b-2">
					<div>
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About this Website</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-4">Using AI</h2>
						<p class="text-gray-500 text-base leading-relaxed mb-6">
							Coming soon...
						</p>
						<a href=" "
							 class="px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white text-sm font-medium rounded-lg transition">Learn
							more</a>

					</div>

				</section>

				<!-- About Judaica DH Section -->
				<section id="aboutjudaicadh" class=" pt-6 px-6 pb-40 gap-8   border-b-2">
					<div>
						<h6 class="text-lg text-indigo-600 font-medium mb-2">About this Website</h6>
						<h2 class="text-gray-900 text-4xl font-bold mb-4">About Judaica DH at Penn</h2>
						<p class="text-gray-500 text-base leading-relaxed mb-6">
							Judaica DH (Judaica Digital Humanities) shares facets of Jewish life and history with the world through
							digital tools, projects, and scholarship rooted in, but not limited to, the Penn Libraries' Judaica
							collections. We are dedicated to crafting innovative and sustainable digital tools and projects with
							partners at Penn and beyond. Our commitment is rooted in the belief that collaboration, sustainability,
							and innovation are essential pillars for creating a more informed campus and public.
						</p>
						<a href="https://www.library.upenn.edu/kislak/judaicadh"
							 class="px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white text-sm font-medium rounded-lg transition">Learn
							more</a>

					</div>

				</section>

			</div>
		</div>
</div>
	<div
		class="fixed opacity-90 bottom-14 right-6 z-50 px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white text-sm font-medium rounded-lg transition"
		style="display: none;"
		id="scrollToTop"
		onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
	>
		<svg height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
			<!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
			<path fill="#f7f7f7"
						d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" />
		</svg>
	</div>

	<script>
		function toggleSidebar() {
			const sidebar = document.getElementById('default-sidebar')
			const toggleButton = document.getElementById('sidebar-toggle')
			const isExpanded = toggleButton.getAttribute('aria-expanded') === 'true'

			// Toggle sidebar
			sidebar.classList.toggle('translate-x-0')
			sidebar.setAttribute('aria-hidden', isExpanded ? 'true' : 'false')
			toggleButton.setAttribute('aria-expanded', !isExpanded)
		}

		// Scroll-to-Top Button Logic
		window.addEventListener('scroll', () => {
			const scrollToTop = document.getElementById('scrollToTop')
			if (window.scrollY > 100) {
				scrollToTop.style.display = 'block'
			} else {
				scrollToTop.style.display = 'none'
			}
		})
	</script>
</div>
</BaseLayout>