---
import BaseLayout from "../layouts/BaseLayout.astro";
import FavoritesAlert from "../components/Misc/FavoritesAlert.tsx";
import Favorites from "../components/Search/Favorites.jsx";

---

<BaseLayout
	title="Favorites - Kaplan Collection of Early American Judaica"
	description="Items marked as 'favorites' from the Kaplan Collection of Early American Judaica"
>
	<section class="py-16 bg-white dark:bg-gray-900 min-h-screen">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

			<div class="mb-10 text-center">
				<FavoritesAlert client:only="react" />
				<h1 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-white">
					Your Favorites
				</h1>
				<p class="mt-2 text-gray-600 dark:text-gray-300 text-sm sm:text-base max-w-2xl mx-auto">
					Explore the items you've bookmarked from the Kaplan Collection.</p>


			</div>

			<Favorites client:only="react" />
		</div>
	</section>
</BaseLayout>