---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchApp from '../components/Search/SearchApp.tsx';
---
<BaseLayout />

<div>
    <h1 class="text-2xl font-bold mb-4">Search the Kaplan Collection</h1>
    <SearchApp client:only="preact" />
</div>