---
import "../styles/global.css";
import Nav from '../components/Layout/Nav.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from "../components/Layout/Header.astro";
const { title, description } = Astro.props;
---

<html lang="en">
<Header />

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-merriweather">
<noscript>
	<iframe
		src="https://www.googletagmanager.com/ns.html?id=GTM-PQRJQQNM"
		height="0"
		width="0"
		style="display:none;visibility:hidden"
	></iframe>
</noscript>

<div class="flex flex-col min-h-screen">
	<!-- Navigation -->
	<Nav />

	<!-- Main Content -->
	<main class="flex-grow">
		<slot /> <!-- Page content will be injected here -->
	</main>

	<!-- Footer -->
	<Footer />
</div>

<!-- Scripts -->
<script type="module" src="/scripts/cookieconsent-config.js"></script>

<!-- Optional vendor JS (only load if needed) -->

</body>
</html>