---
import Nav from '../components/Layout/Nav.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro'
import Oswald from '@fontsource-variable/oswald'
import Merriweather from '@fontsource-variable/merriweather'
const { title, description } = Astro.props
import Confetti from '../components/Misc/Confetti.tsx'
---

<html lang="en">

<head>
	<meta name="google-site-verification" content="EtZcuOhLAz4SNqrZtPY9nRSHvzTE_xXlc45DQDYP8QQ" />
	<Header title={title} description={description} />
	<script
		is:inline
		src="https://www.googletagmanager.com/gtag/js?id=G-PQRJQQNM"
	></script>
	<script is:inline>
		window.dataLayer = window.dataLayer || []

		function gtag() {
			dataLayer.push(arguments)
		}

		gtag('js', new Date())

		gtag('config', 'G-PQRJQQNM')
	</script>

</head>

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQRJQQNM"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
				integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
				crossorigin=""></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>

<div class="flex flex-col min-h-screen">
	<!-- Navigation -->
	<Nav />

	<!-- Main Content -->
	<main class="flex-grow">
		<slot /> <!-- Page content will be injected here -->
	</main>

	<!-- Footer -->
	<Footer />
</div>
</body>

</html>