---
import Nav from '../components/Layout/Nav.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro'
import Confetti from '../components/Misc/Confetti.tsx'
const { title } = Astro.props // Ensure `title` is passed
---
<html lang="en">

<head>
	<Header />
	<title>{title}</title>

</head>
<body>

<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
				integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
				crossorigin=""></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>




<Nav />

<main>

	<slot /> <!-- Page content will be injected here -->
</main>

<Footer />

</body>
</html>