---
import Nav from '../components/Layout/Nav.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro'
import Oswald from '@fontsource-variable/oswald'
import Merriweather from '@fontsource-variable/merriweather'
const { title, description } = Astro.props
import Confetti from '../components/Misc/Confetti.tsx'
---

<html lang="en">

<head>
	<script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-QL528RZ3BB"></script>
	<script is:inline type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

    // This should ALWAYS be set before the gtag("config", "G-QL528RZ3BB"); line
    gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
    });

    gtag("config", "G-QL528RZ3BB");
	</script>
	<meta name="google-site-verification" content="EtZcuOhLAz4SNqrZtPY9nRSHvzTE_xXlc45DQDYP8QQ" />
	<Header title={title} description={description} />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />




</head>

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
<!-- Google Tag Manager (noscript) -->

<!-- End Google Tag Manager (noscript) -->
<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script is:inline src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
				integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
				crossorigin=""></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>

<div class="flex flex-col min-h-screen">
	<!-- Navigation -->
	<Nav />

	<!-- Main Content -->
	<main class="flex-grow">
		<slot /> <!-- Page content will be injected here -->
	</main>

	<!-- Footer -->
	<Footer />
</div>
<script type="module" src="/src/scripts/cookieconsent-config.js"></script>


</body>

</html>