---
import Nav from '../components/Layout/Nav.astro';
import Footer from '../components/Layout/Footer.astro';
import Header from '../components/Layout/Header.astro'; // Corrected Header import
---
<html lang="en">
<head>
	<Header />
	 <!-- Ensure Header is in the head section if it contains meta information -->
</head>
<body>
<Nav />
<main>
	<slot /> <!-- Page content will be injected here -->
</main>
<Footer />
</body>
</html>